/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Estilos personalizados*/

.fondoTitulo {
    opacity: 0.5;
    background-color: black;
    background: url('../imagenes/fondotitulo.png');
    padding: 40px 0 40px 0px;
     
}


@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

.gr-1 {
    background: linear-gradient(170deg, #01e4f8 0%, #1d3ede 100%);
}

.gr-2 {
    background: linear-gradient(170deg, #b4ec51 0%, #429321 100%);
}

.gr-3 {
    background: linear-gradient(170deg, #c86dd7 0%, #3023ae 100%);
}

* {
    transition: 0.5s;
}

.h-100 {
    height: 100vh !important;
}

.align-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.column {
    margin-top: 3rem;
    padding-left: 3rem;
}

    .column:hover {
        padding-left: 0;
    }

        .column:hover .card .txt {
            margin-left: 1rem;
        }

            .column:hover .card .txt h1,
            .column:hover .card .txt p {
                color: white;
                opacity: 1;
            }

        .column:hover a {
            color: white;
        }

            .column:hover a:after {
                width: 10%;
            }

.card {
    min-height: 170px;
    margin: 0;
    padding: 1.7rem 1.2rem;
    border: none;
    border-radius: 0;
    color: black;
    letter-spacing: 0.05rem;
    font-family: "Oswald", sans-serif;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
}

    .card .txt {
        margin-left: -3rem;
        z-index: 1;
    }

        .card .txt h1 {
            font-size: 1.5rem;
            font-weight: 300;
            text-transform: uppercase;
        }

        .card .txt p {
            font-size: 0.7rem;
            font-family: "Open Sans", sans-serif;
            letter-spacing: 0rem;
            margin-top: 33px;
            opacity: 0;
            color: white;
        }

    .card a {
        z-index: 3;
        font-size: 0.7rem;
        color: black;
        margin-left: 1rem;
        position: relative;
        bottom: -0.5rem;
        text-transform: uppercase;
    }

        .card a:after {
            content: "";
            display: inline-block;
            height: 0.5em;
            width: 0;
            margin-right: -100%;
            margin-left: 10px;
            border-top: 1px solid white;
            transition: 0.5s;
        }

    .card .ico-card {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .card i {
        position: relative;
        right: -50%;
        top: 60%;
        font-size: 12rem;
        line-height: 0;
        opacity: 0.2;
        color: white;
        z-index: 0;
    }












    /*Weater*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");



.weather-card {
    margin: 60px auto;
    height: 740px;
    width: 450px;
    background: #fff;
    box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

    .weather-card .top {
        position: relative;
        height: 570px;
        width: 100%;
        overflow: hidden;
        background: url("https://s-media-cache-ak0.pinimg.com/564x/cf/1e/c4/cf1ec4b0c96e59657a46867a91bb0d1e.jpg") no-repeat;
        background-size: cover;
        background-position: center center;
        text-align: center;
    }

        .weather-card .top .wrapper {
            padding: 30px;
            position: relative;
            z-index: 1;
        }

            .weather-card .top .wrapper .mynav {
                height: 20px;
            }

                .weather-card .top .wrapper .mynav .lnr {
                    color: #fff;
                    font-size: 20px;
                }

                .weather-card .top .wrapper .mynav .lnr-chevron-left {
                    display: inline-block;
                    float: left;
                }

                .weather-card .top .wrapper .mynav .lnr-cog {
                    display: inline-block;
                    float: right;
                }

            .weather-card .top .wrapper .heading {
                margin-top: 20px;
                font-size: 35px;
                font-weight: 400;
                color: #fff;
            }

            .weather-card .top .wrapper .location {
                margin-top: 20px;
                font-size: 21px;
                font-weight: 400;
                color: #fff;
            }

            .weather-card .top .wrapper .temp {
                margin-top: 20px;
            }

                .weather-card .top .wrapper .temp a {
                    text-decoration: none;
                    color: #fff;
                }

                    .weather-card .top .wrapper .temp a .temp-type {
                        font-size: 85px;
                    }

                .weather-card .top .wrapper .temp .temp-value {
                    display: inline-block;
                    font-size: 85px;
                    font-weight: 600;
                    color: #fff;
                }

                .weather-card .top .wrapper .temp .deg {
                    display: inline-block;
                    font-size: 35px;
                    font-weight: 600;
                    color: #fff;
                    vertical-align: top;
                    margin-top: 10px;
                }

        .weather-card .top:after {
            content: "";
            height: 100%;
            width: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
        }

    .weather-card .bottom {
        padding: 0 30px;
        background: #fff;
    }

        .weather-card .bottom .wrapper .forecast {
            overflow: hidden;
            margin: 0;
            font-size: 0;
            padding: 0;
            padding-top: 20px;
            max-height: 155px;
        }

            .weather-card .bottom .wrapper .forecast a {
                text-decoration: none;
                color: #000;
            }

            .weather-card .bottom .wrapper .forecast .go-up {
                text-align: center;
                display: block;
                font-size: 25px;
                margin-bottom: 10px;
            }

            .weather-card .bottom .wrapper .forecast li {
                display: block;
                font-size: 25px;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.25);
                line-height: 1em;
                margin-bottom: 30px;
            }

                .weather-card .bottom .wrapper .forecast li .date {
                    display: inline-block;
                }

                .weather-card .bottom .wrapper .forecast li .condition {
                    display: inline-block;
                    vertical-align: middle;
                    float: right;
                    font-size: 25px;
                }

                    .weather-card .bottom .wrapper .forecast li .condition .temp {
                        display: inline-block;
                        vertical-align: top;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 20px;
                        font-weight: 400;
                        padding-top: 2px;
                    }

                        .weather-card .bottom .wrapper .forecast li .condition .temp .deg {
                            display: inline-block;
                            font-size: 10px;
                            font-weight: 600;
                            margin-left: 3px;
                            vertical-align: top;
                        }

                        .weather-card .bottom .wrapper .forecast li .condition .temp .temp-type {
                            font-size: 20px;
                        }

                .weather-card .bottom .wrapper .forecast li.active {
                    color: rgba(0, 0, 0, 0.8);
                }

    .weather-card.rain .top {
        background: url("") no-repeat;
        background-size: cover;
        background-position: center center;
    }
